.card {
    height: 250px;
    width: 230px;
    background-color: black;
    margin: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card:hover{
    transform: scale(1.05);
    background-color: white;
    color: black;
    cursor: pointer;
}